* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  height: 100%;
  background-color: rgb(118, 101, 230);  
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 0px;
  position: relative;
  max-width: 100vw;
  max-height: 99vh;    
  margin: 2px auto;
  background-color: grey;
  color: rgb(249, 247, 247);
}
.icon {
  display: inline-block;
}
.title {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  display: flex;
  background-color: #222;
  justify-content:space-evenly;
  align-items: center;
  border: 1px solid rgb(254, 253, 253); 
}
.gui-container {
  position: relative;
  grid-column: 4 / 5;
  grid-row: 1 / 3;
   /* width: 98%;  */
  background-color: #222;
  border: 1px solid white;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-evenly; 
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  width: 80%;
  border: 2px solid #ddd;
  display: inline-block;
  padding: 3px 6px;
  margin: 0 auto;
  border-radius: 10px;
  cursor: pointer;
  color: #b5f4bd;
  background-color: #111;
}

h3 {
  text-align: center;
  color: rgb(249, 247, 247);
}
#small {
  font-size: 16px;
}
.custom-file-upload:hover {
  background-color:rgb(62, 7, 245)
}

.main-container {
  position: relative;
  grid-column: 1 / 4;
  grid-row: 2 / 13;  
  min-width: 480px;
  max-width: 1080px;
  background-color: #222;     
  border: 1px solid #ddd; 
  margin:  3px; 
}

#canvas1 {     
  /* position: absolute; */
  /* background-image: url('./assets/textures/space-background.jpg');
  background-size: cover; */
  top: 0;
  left: 0;
  width: 100%;  
}

.control-container {  
  grid-column: 4 / 5;
  grid-row: 3 / 6;  
  background-color: #222;
  color: white;
  padding: 3px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 5px;
  padding: 3px;
 
}
fieldset {
  border: 1.5px solid #fff;
  border-radius: 5px;
}
legend{
  font-size: 12px;
}

.bg_btn, .select-btn {
  font-size: 10px;
  margin: 1px;
  padding: 3px;
  width: 22%;
  height: 29.0%;
  color: rgba(250, 250, 250, 0.75);
  background-color: #222;
  border: 1.4px solid #aaa;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s;
}
 .bg_btn:hover, .select-btn:hover {
  border: 1.5px solid #fff;
  font-size: 10px;
  color: #fff;
  background-color:rgb(62, 7, 245)

} 


.waveform-container {
  position: relative;
  grid-column: 4 / 5;
  grid-row: 6 / 10;
  background-color: #222;  
  color: white;
  margin: 0 5px;
  padding: 3px;  
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items:center;
}

.select-btn {
  font-size: 10px;
  margin: 1px;
  padding: 3px;
  width: 22%;
  height: 22.0%;
  color: rgba(250, 250, 250, 0.75);
  background-color: #222;
  border: 1.4px solid #aaa;
  border-radius: 5px;
  cursor: pointer;
  transition: all .2s;
}

.active-bg{
  border: 1.6px solid #fff;
  color: #fff;
  background-color: #05ff05;
}

.fly_btn {
  background-color: #b5f409;
  color: #222;
  border-radius: 50%;
}

.music-container {
  position: relative;
  grid-column: 4 / 5;
  grid-row: 10 / 12;   
  padding: 3px;
  margin: 0 5px;
  font-size: 12px;
   background-color: #222;
  border: 1.5px solid rgb(254, 253, 253);
  border-radius: 5px;  
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items:center;
} 

#logo {
  width: 45px;
  height: 40px;   
  float:left;
  padding: 3px;
}
#wolf {
  width: 25px;
  height: 26px;   
  float:left;
  padding: 3px;
}
#file_upload, #imageFile_upload {
  margin: 3px;
}

.btn {
  margin: 5px;
  width: 50px;
  font-size: 16px;
  cursor: pointer;
}
.btn:focus{
  border: 2px solid #fff;
}
.control-buttons {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
}
.record-buttons {
  position: relative;
  margin-top: 3px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
 
}
.record-btn {
  width: 70px;
  height: 34px;
  font-size: 11px;
  /* background-color: #aaa; */
  margin: 1px;
  padding: 1px;
  border-radius: 45%; 
  cursor: pointer;
}
#recordBtn {
  background-color:radial-gradient(#f49856, #080502f2);
  border: 4px solid rgb(251, 84, 6);
  margin-right: 10px;
}
#stopRecordBtn {
  background-color:radial-gradient(#453fb7, #3a78caa7);
  border: 4px solid rgb(62, 7, 245);
  margin-left: 10px;
}
.record-btn:focus{
  border: 2px solid #fff;
}
.company-logo {
  background-color: darkslateblue;
  border-radius: 5px;
  width: 100%;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#gui {
  position: absolute;
  right: 0;
  top: 3px;  
  margin-right: 0;
  display: none;
}

#bg_blue{
  background-image: url('./assets/textures/blue/bkg1_left.png');
  background-size: cover;
  background-repeat: no-repeat;
  
}
#bg_red{
  background-image: url('./assets/textures/red/bkg1_front5.png');
  background-size: cover;
  background-repeat: no-repeat;
  
}
#bg_gloomy{
  background-image: url('./assets/textures/gloomy_skybox/gloomy_ft.png');
  background-size: cover;
  background-repeat: no-repeat;
  
}
#bg_perea{
  background-image: url('./assets/textures/pereaBeach1/posz.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  
}
#bg_storm{
  background-image: url('./assets/textures/pereaBeach1/posx.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  
}
#bg_studio{
  background-image: url('./assets/textures/pereaBeach1/posy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  
}

#bg_icosahedron{
  background-image: url('./assets/images/icosahedron.png');
  background-size: contain;
  background-repeat: no-repeat;
  
}
#bg_water-ball{
  background-image: url('./assets/images/waterball2.png');
  background-size: contain;
  background-repeat: no-repeat;
}
#bg_disc {
  background-image: url('./assets/images/disc.png');  
  background-size: contain;
  background-repeat: no-repeat;
}
#bg_rubiks{
  background-image: url('./assets/images/rubikscube.png');
  background-size: contain;
  background-repeat: no-repeat;
}
#plane_btn{
  background-image: url('./assets/images/planes.png');
  background-size: contain;
  background-repeat:no-repeat;
}    
#sphere_btn{
  background-image: url('./assets/images/sphere-ring.png');
  background-size: contain;
  background-repeat:no-repeat;
}    
#cube_btn{
  background-image: url('./assets/images/cube.png');
  background-size: contain;
  background-repeat:no-repeat;
}    
#cylinder_btn{
  background-image: url('./assets/images/cylinder.png');
  background-size: contain;
  background-repeat:no-repeat;
}    
#glsl_btn{
  background-image: url('./assets/images/terrain.png');
  background-size: contain;
  background-repeat:no-repeat;
}    
#glass_btn{
  background-image: url('./assets/images/glass.png');
  background-size: contain;
  background-repeat:no-repeat;
}    
#instances_btn{
  background-image: url('./assets/images/instances.png');
  background-size: contain;
  background-repeat:no-repeat;
}    
#particles_btn{
  background-image: url('./assets/images/bigbang.png');
  background-size: contain;
  background-repeat:no-repeat;
}    
#balls_btn{
  background-image: url('./assets/images/balls2.png');
  background-size: contain;
  background-repeat:no-repeat;
}    
#lights_btn{
  background-image: url('./assets/images/lights.png');
  background-size: contain;
  background-repeat:no-repeat;
}    
#warp_btn{
  background-image: url('./assets/images/warp.png');
  background-size: contain;
  background-repeat:no-repeat;
}    
#water_btn{
  background-image: url('./assets/images/watercolor.png');
  background-size: contain;
  background-repeat:no-repeat;
}    
#liquid_btn{
  background-image: url('./assets/images/liquid.png');
  background-size: contain;
  background-repeat:no-repeat;
}    
#line-sphere_btn{
  background-image: url('./assets/images/linesphere.png');
  background-size: contain;
  background-repeat:no-repeat;
}    

#canvas2{
  position: absolute;
  bottom: 1%;
  left: 37.50%;
  transform: translate(-50%, 0);
  max-width: 60%;
  height: 8.4%;
  background-color: rgba(0, 0, 0, 0);  
  z-index: 20;
}

.company-logo{
  grid-column: 4 / 5;
  grid-row: 12 / 13;
  width: 98%;
  font-size: 11px;
  background-color: #222;
  border: 1px solid white;
  margin: 0 2px;
  padding: 6px;  
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 10%;
  left: 2%;
  width: 70%;
  height: 85%;
  overflow: auto;
  background-color: #ddd;
  color: black;
  padding: 2px;
  border: 2px solid #222;
  border-radius: 20px;
  opacity: 1;
  animation-name: animate_modal;
  animation-duration: 0.8s;  
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.9), 0 15px 25px 0 rgba(0, 0, 0, 0.1 );
}

#close {
  color: #fff;
  float: top;
  float: right;
  font-size: 45px;
}
#close:hover, .close:focus {
  color: #ddd;
  text-decoration: none;
  font-size: 48px;
  font-weight: bold;
  cursor: pointer;
  background-color:rgb(62, 7, 245)

}

.modal-header {
  padding: 6px 40px;
  background-color: #222;
  border-radius: 20px 20px 0 0;
  color: #fff;
}

.modal-body {
  padding: 5px;
  background-color: #fff;
  color: #000;
  border: 1px solid #111;
}

.modal-footer {
  padding: 12px;
  background-color: #222;
  border-radius: 0 0 20px 20px;
  color: white;
}

@keyframes animate_modal {
  from {left: -400px; opacity: 0}
  to {top: 18%; opacity: 1}
}


#modal_btn {
  position: absolute;
  top: 3%;
  left: 0%;
  padding: 3px;
  border-radius: 0 10px 10px 0;
}

.main{
  display: block;
}



#track-name {
  width: 90%;
  font-size: 12px;
  padding: 2px;
  color: rgba(255, 255, 255, 1);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
  overflow: hidden;
}

#track-name > span:hover {
  transition: 0.2s
}

#track-name > span:hover {
 color: rgba(255, 255, 255, 1); 
}

.playbar-container {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
  position: relative;
}

#playbar {
  height: 8px;
  width: 62%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  border: 1px solid rgba(140, 250, 250, 0.5);
  border: 1px solid red;
  position: relative;    
  transition: 0.2s;
  z-index: 10;
  cursor: pointer;
}

#playbar-progress {
  height: 7px;
  width: 100%;  
  background-color: rgba(255, 255, 255, 0.83);
  border-radius: 3px 2px 2px 3px;
  position: absolute;
  /* top: 3%; */
  transition: 0.2s;
  cursor: pointer;
}

#time-progress {
  width: 15%;
  margin-left: 6px;
  font-size: 10px;
  color: rgba(255, 255, 255, 1);
  position: relative;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

#time-progress:hover {
  color: rgba(255, 255, 255, 1);
}

#time-progress > span {
  position: absolute;
  width: 100%;
  text-align: center;
}

#time-left {
  width: 14%;
  font-size: 10px;
  color: rgba(255, 255, 255, 1);
  position: relative;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
  border-right: solid 2px rgba(0, 0, 0, 0.5);

}

#time-left:hover {
  color: rgba(255, 255, 255, 1);
}

#time-left > span {
  position: absolute;
  left: 0px;
  width: 100%;
  text-align: center;
  /* top: 26%; */
}

/* volume controls */
.volume {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
input[type=range] {
  display: none;
}


.icon-size {
  font-size: 0.7rem;
}

.bar-hoverbox {
  padding: 1px 5px;
  margin-right: 5px;
  opacity: 0.7;
  transition: opacity .2s;
  width: 75%;
  
}
.bar-hoverbox:hover {
  opacity: 1;
  cursor: pointer;
}
.bar {
  background: #999;
  border: 1px solid red;
  height: 8px;
  border-radius: 5px;
  overflow: hidden;
  pointer-events: none;  
  
}
.bar .bar-fill {
  background: #FFF;
  width: 0%;
  height: 100%;
  background-clip: border-box;
  pointer-events: none;
}
