* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  height: 100%;
  background-color: darkslateblue;  
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 0px;
  position: relative;
  max-width: 100vw;
  max-height: 99vh;    
  margin: 2px auto;
  background-color: darkslateblue;
  color: rgb(249, 247, 247);
}
.title {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  display: flex;
  background-color: #222;
  justify-content:space-evenly;
  align-items: center;
  border: 1px solid rgb(254, 253, 253); 
}
.gui-container {
  position: relative;
  grid-column: 4 / 5;
  grid-row: 1 / 3;
  /* width: 98%; */
  background-color: #222;
  border: 1px solid white;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: flex-end;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 2px solid #ddd;
  display: inline-block;
  padding: 3px 6px;
  margin: 0 auto;
  border-radius: 10px;
  cursor: pointer;
  color: #111;
  background-color:#b5f4bd; 
}

h3 {
  text-align: center;
  color: rgb(249, 247, 247);
}
#small {
  font-size: 16px;
}

.main-container {
  position: relative;
  grid-column: 1 / 4;
  grid-row: 2 / 11;  
  min-width: 480px;
  max-width: 1080px;
  background-color: #222;     
  border: 2px solid rgb(254, 253, 253); 
  /* margin:  2px 4px; */
}

#canvas1 {     
  /* position: absolute; */
  /* background-image: url('./assets/textures/space-background.jpg');
  background-size: cover; */
  top: 0;
  left: 0;
  width: 100%;  
}

.control-container {  
  grid-column: 4 / 5;
  grid-row: 3 / 6;
  /* width: 98%; */
  /* background-color: darkslateblue; */
  border: 1px solid white;
  color: white;
  /* margin: 2px;   */
  padding: 3px; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.bg_btn, .select-btn {
  font-size: 10px;
  margin: 1px;
  padding: 3px;
  width: 22.8%;
  height: 29.80%;
  color: rgba(255, 255, 255, 0.5);
  background-color: #222;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: all .4s;
}
.bg_btn:hover, .select-btn:hover {
  border: 1.15px solid #fff;
  font-size: 11px;
  color: #fff;
  transform: scale(1.05);
}

.fly_btn {
  background-color: #444;
  color: rgba(255, 255, 255, 0.85);
  border-radius: 50%;
}
.fly_btn:focus {
  background-color: #b5f409;
  color: #111;
}

.waveform-container {
  position: relative;
  grid-column: 4 / 5;
  grid-row: 6 / 10;
  /* width: 98%; */
  background-color: darkslateblue;
  border: 1px solid white;
  color: white;
  /* margin: 2px;   */
  padding: 3px;  
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items:center;
}

.active-bg{
  border: 2px solid #fff;
  color: #fff;
  background-color: #05ff05;
}
.select-btn{
  height: 23%;
}
.music-container {
  position: relative;
  grid-column: 4 / 5;
  grid-row: 10 / 12;   
  /* margin-right: 1%; */
  padding: 3px;
  /* width: 98%;    */
  font-size: 12px;
  /* background-color: #222;
  border: 1px solid rgb(254, 253, 253);  */
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items:center;
} 

#logo {
  width: 45px;
  height: 40px;   
  float:left;
  padding: 3px;
}
#wolf {
  width: 25px;
  height: 26px;   
  float:left;
  padding: 3px;
}
#file_upload, #imageFile_upload {
  margin: 3px;
}

.btn {
  margin: 5px;
  width: 50px;
  font-size: 16px;
  cursor: pointer;
}
.btn:focus{
  transform: scale(1.05);
  border: 2px solid #fff;
}
.control-buttons {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
}
.record-buttons {
  position: relative;
  margin-top: 3px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
 
}
.record-btn {
  width: 70px;
  height: 40px;
  /* background-color: #aaa; */
  margin: 1px;
  padding: 1px;
  border-radius: 45%; 
  cursor: pointer;
}
#recordBtn {
  background-color:radial-gradient(#f49856, #080502f2);
  border: 4px solid rgb(251, 84, 6);
  margin-right: 10px;
}
#stopRecordBtn {
  background-color:radial-gradient(#453fb7, #3723ec);
  border: 4px solid rgb(62, 7, 245);
  margin-left: 10px;
}
.record-btn:focus{
  border: 2px solid #fff;
  transform: scale(1.1);
}
.company-logo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#gui {
  position: absolute;
  right: 0;
  top: 3px;  
  margin-right: 0;
  display: none;
}

#bg_blue{
  background-image: url('./assets/textures/blue/bkg1_left.png');
  background-size: cover;
  background-repeat: no-repeat;
  
}
#bg_red{
  background-image: url('./assets/textures/red/bkg1_front5.png');
  background-size: cover;
  background-repeat: no-repeat;
  
}
#bg_gloomy{
  background-image: url('./assets/textures/gloomy_skybox/gloomy_ft.png');
  background-size: cover;
  background-repeat: no-repeat;
  
}
#bg_perea{
  background-image: url('./assets/textures/pereaBeach1/posz.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  
}
#bg_storm{
  background-image: url('./assets/textures/pereaBeach1/posx.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  
}
#bg_studio{
  background-image: url('./assets/textures/pereaBeach1/posy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  
}

#bg_icosahedron{
  background-image: url('./assets/images/icosahedron.png');
  background-size: contain;
  background-repeat: no-repeat;
  
}
#bg_water-ball{
  background-image: url('./assets/images/waterball2.png');
  background-size: contain;
  background-repeat: no-repeat;
}
#bg_disc {
  background-image: url('./assets/images/disc.png');  
  background-size: contain;
  background-repeat: no-repeat;
}
#bg_rubiks{
  background-image: url('./assets/images/rubikscube.png');
  background-size: contain;
  background-repeat: no-repeat;
}
#plane_btn{
  background-image: url('./assets/images/planes.png');
  background-size: contain;
  background-repeat:no-repeat;
}    
#sphere_btn{
  background-image: url('./assets/images/sphere-ring.png');
  background-size: contain;
  background-repeat:no-repeat;
}    
#cube_btn{
  background-image: url('./assets/images/cube.png');
  background-size: contain;
  background-repeat:no-repeat;
}    
#cylinder_btn{
  background-image: url('./assets/images/cylinder.png');
  background-size: contain;
  background-repeat:no-repeat;
}    
#glsl_btn{
  background-image: url('./assets/images/terrain.png');
  background-size: contain;
  background-repeat:no-repeat;
}    
#glass_btn{
  background-image: url('./assets/images/glass.png');
  background-size: contain;
  background-repeat:no-repeat;
}    
#instances_btn{
  background-image: url('./assets/images/instances.png');
  background-size: contain;
  background-repeat:no-repeat;
}    
#particles_btn{
  background-image: url('./assets/images/bigbang.png');
  background-size: contain;
  background-repeat:no-repeat;
}    
#balls_btn{
  background-image: url('./assets/images/balls2.png');
  background-size: contain;
  background-repeat:no-repeat;
}    
#lights_btn{
  background-image: url('./assets/images/lights.png');
  background-size: contain;
  background-repeat:no-repeat;
}    
#warp_btn{
  background-image: url('./assets/images/warp.png');
  background-size: contain;
  background-repeat:no-repeat;
}    
#water_btn{
  background-image: url('./assets/images/watercolor.png');
  background-size: contain;
  background-repeat:no-repeat;
}    
#liquid_btn{
  background-image: url('./assets/images/liquid.png');
  background-size: contain;
  background-repeat:no-repeat;
}    
#line-sphere_btn{
  background-image: url('./assets/images/linesphere.png');
  background-size: contain;
  background-repeat:no-repeat;
}    

.footer {
  position: relative;
  grid-column: 1 / 4;
  grid-row: 11/13;
  /* width: 98%; */
  background-color: #111;
  border: 1px solid white;
  /* margin: 0 2px; */
  padding: 6px;  
}
#canvas2 {
   width: 100%;
  /* position: absolute; 
  top: 0;
  left: 0;
  background-color: #111;
  max-width: 840px;
 
  border: 1px solid white;
  max-height: 80px;*/
}
.company-logo{
  grid-column: 4 / 5;
  grid-row: 12 / 13;
  /* width: 98%; */
  font-size: 11px;
  background-color: #222;
  border: 1px solid white;
  /* margin: 0 2px; */
  padding: 6px;  
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 8%;
  left: 1%;
  width: 70%;
  height: 85%;
  overflow: auto;
  background-color: #ddd;
  color: black;
  padding: 2px;
  border: 2px solid #222;
  border-radius: 20px;
  opacity: 1;
  animation-name: animate_modal;
  animation-duration: 0.8s;  
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.9), 0 15px 25px 0 rgba(0, 0, 0, 0.1 );
}

#close {
  color: #fff;
  float: top;
  float: right;
  font-size: 45px;
}
#close:hover, .close:focus {
  color: #ddd;
  text-decoration: none;
  font-size: 48px;
  font-weight: bold;
  cursor: pointer;
}

.modal-header {
  padding: 6px 40px;
  background-color: #222;
  border-radius: 20px 20px 0 0;
  color: #fff;
}

.modal-body {
  padding: 5px;
  background-color: #fff;
  color: #000;
  border: 1px solid #111;
}

.modal-footer {
  padding: 12px;
  background-color: #222;
  border-radius: 0 0 20px 20px;
  color: white;
}

@keyframes animate_modal {
  from {left: -400px; opacity: 0}
  to {top: 18%; opacity: 1}
}


#modal_btn {
  position: absolute;
  top: 3%;
  left: 0%;
  padding: 3px;
  border-radius: 0 10px 10px 0;
}

.main{
  display: block;
}
